<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
<body>
    <header>
        <h1 class="maintitle">BRAG BOARD</h1>
        <div class="topnav">
          <a href="/logout">Log Out</a>
          <a href="/auth/google">Login with Google</a>
        </div>
    </header>
    <section id="show-page">
        <div><%= game.game %></div>
        <div>Title:</div>
        <div><%= game.title %></div>
        <div>Description:</div>
        <div><%= game.content %></div>
        <div>Proof:</div>
        <div><%= game.proof %></div>
    </section>
    <a href='/games/edit/<%= id%>'>Edit Brag</a>
    <br /><br />
    <h2>Comments</h2>
        <form id="add-comment-form" method="POST" action="/comment/<%= game._id %>/comments">
            <label>Comment:</label>
            <textarea name="content"></textarea>
            <label>Rating:</label>
            <select name="rating">
                <option value="1">Awesome Job!</option>
                <option value="2">Keep It Up!</option>
                <option value="3">I Can Do Better!</option>
                <option value="4">SHAME!</option>
            </select>
        <input type="submit" value="Add Comment" />
                
        
                
    
      
      
</body>